.view{
    margin: 10px auto;
    border: 1px solid black;
}
.h1{
    margin: auto;
    text-align:center;
}
.cell{
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 3px;
    text-align: center;
    font-weight: bolder;
    background-color: darkgrey;
    cursor: pointer;
}
.gameOver{
    display: none;
    color: red;
    /* text-align: center; */
    font-weight: bold;
    margin:10px;
    padding:5px;
}
.disabled{
    background-color: darkgray;
}
.game{
    padding : 50px 200px 50px 200px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100 */
background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}
