.view{
    margin: 10px auto;
    border: 1px solid black;
}
.cell{
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 3px;
    text-align: center;
    font-weight: bolder;
    background-color: darkgrey;
    cursor: pointer;
}
.gameOver{
    display: none;
    color: red;
    /* text-align: center; */
    font-weight: bold;
    margin:10px;
    padding:5px;
}
.disabled{
    background-color: darkgray;
}
.center{
    padding : 50px;
}