<!DOCTYPE html>
<html lang="en" ng-app="gameApp">

<head>
    <title>Mines Sweeper Game</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">

</head>

<body ng-cloak="true" ng-controller="gameController">
    <div class="container">
        <div class="row center">
            <div ng-repeat="col in range(columns)">
                <div ng-repeat="row in range(rows)">
                    <input type="button" class="btn cell" name="{{row +'_' + col}}" ng-click="cellClicked({row: row,col: col})">

                    </input>
                </div>
            </div>
        </div>
        <div id="GameOver" class="gameOver">
            Game Over, You stepped over a mine!
            <input type="button" class="btn btn-sm btn-success" value="New Game" name="newGame" ng-click="newGame()" />
        </div>
    </div>
    <!--scripts-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/MainApp/GameApp.js"></script>
    <script src="js/MainApp/Controllers/GameController.js"></script>
    <!--end of scripts-->
</body>

</html>